:root {
    --header-big-text-color: white;
    --header-small-text-color: black;
    --header-background-color: white;
    --flight-hotel-text-color: black;
    --flight-background-color: white;
    --submit-flight-background-color: blue;
    --submit-flight-text-color: white;
    --toggle-background-color: blue;
    --toggle-circle-color: white;
    --modal-background-color: rgba(0, 0, 0, 0.8);
    --modal-content-background-color: white;
    --registration-submit-text-color: white;
    --registration-submit-background-color: #4879db;
    --registration-submit-hover-background-color: blue;
    --border-input-color: black;
}

* {
    font-family: "Lexend", sans-serif;
    font-size: 20px;
}

body {
    margin: auto;
    height: 1500px;
}

body.modal-open {
    height: 100vh;
    overflow-y: hidden;
}

#cap {
    padding-top: 100px;
    animation: swapImages 50s ease-in-out infinite;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
    height: 700px;
}

@keyframes swapImages {
    0%, 19%, 100% {
        background-image: url('../../images/airport1.jpg');
    }
    20%, 39% {
        background-image: url('../../images/airport2.jpg');
    }
    40%, 69% {
        background-image: url('../../images/airport3.jpg');
    }
    60%, 79% {
        background-image: url('../../images/airport4.jpg');
    }
    80%, 99% {
        background-image: url('../../images/airport5.jpg');
    }
}

header {
    backdrop-filter: blur(5px);
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 1s ease-in-out;
}

header img {
    width: 35%;
    height: 35%;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

#title {
    color: var(--header-big-text-color);
    font-size: 40px;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

#registration-button,
#log-in-button {
    background: none;
    border: none;
    font-size: 25px;
    color: var(--header-big-text-color);
    cursor: pointer;
    transition: all 1s ease-in-out;
}

#logo-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

#registration-log-in {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
}

.transform-to-small {
    background-color: var(--header-background-color);
    height: 60px;
    width: 94%;
    margin: 0 50px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.transform-to-small img {
    height: 20%;
    width: 20%;
}

.transform-to-small #registration-button,
.transform-to-small #log-in-button,
.transform-to-small #title {
    color: var(--header-small-text-color);
}

#buying {
    margin: auto;
    margin-top: 140px;
    width: 400px;
}

#flight-hotel-cap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 400px;
}

#flight-cap,
#hotel-cap {
    color: var(--flight-hotel-text-color);
    background-color: var(--flight-background-color);
    text-align: center;
    width: 80px;
    padding: 7px 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    opacity: 0.7;
    cursor: pointer;
}

#flight-cap.active {
    opacity: 1;
}

#hotel-cap.active {
    opacity: 1;
}

#flight-form,
#hotel-form {
    background-color: var(--flight-background-color);
    height: 450px;
    width: 400px;
    border-radius: 40px;
    display: none;
}

#hotel-form.active {
    display: block;
    background-color: var(--flight-background-color);
}

#flight-form.active {
    display: block;
    background-color: var(--flight-background-color);
}

.switch {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 34px;
    background-color: var(--flight-background-color);
    margin: auto 10px;
}

.switch-input {
    height: 0;
    width: 0;
    opacity: 0;
}

.switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 34px;
    background-color: var(--toggle-background-color);
    transition: 0.4s;
}

.switch-slider::before {
    content: "";
    position: absolute;
    cursor: pointer;
    left: 4px;
    bottom: 4px;
    height: 26px;
    width: 26px;
    background-color: var(--toggle-circle-color);
    border-radius: 50%;
    transition: 0.4s;
}

.switch-input:checked + .switch-slider::before {
    transform: translateX(26px);
}

#toggle {
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#one-way-text {
    margin-left: 40px;
    color: var(--flight-hotel-text-color);
}

#returning-text {
    margin-right: 35px;
    color: var(--flight-hotel-text-color);
}

.input-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

.text-input {
    width: 80px;
    color: var(--flight-hotel-text-color);
}

.some-input {
    width: 200px;
    color: var(--flight-hotel-text-color);
}

input {
    width: 200px;
    border-radius: 13px;
    padding-left: 10px;
}

.passanger-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}

.text-passanger {
    width: 200px;
}

.some-passenger {
    width: 100px;
}

.minus {
    margin-right: 10px;
    color: var(--flight-hotel-text-color);
    cursor: pointer;
}

.plus {
    margin-left: 10px;
    color: var(--flight-hotel-text-color);
    cursor: pointer;
}

#submit-flight-form {
    height: 50px;
    margin: 0 100px;
    border-radius: 25px;
    border: 2px solid black;
}

.passenger,
#adults,
#children {
    color: var(--flight-hotel-text-color)
}

#back {
    visibility: hidden;
}

#back.active {
    visibility: visible;
}

#submit-flight-form:hover {
    background-color: var(--submit-flight-background-color);
    cursor: pointer;
    color: var(--submit-flight-text-color);
}

#modal-registration {
    display: none;
}

#modal-registration.active {
    background-color: var(--modal-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#modal-registration-content {
    background-color: var(--modal-content-background-color);
    width: 1000px;
    height: 550px;
    border-radius: 50px;
}

#close-container-registration {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 20px 25px 0 0;
}

#close-container-registration img {
    cursor: pointer;
}

.registration-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.registration-container input[type='text'],
.registration-container input[type='date'],
.registration-container input[type='password'],
.registration-container input[type='email'] {
    margin-top: 10px;
    height: 30px;
    width: 350px;
    font-size: 18px;
    border: 3px solid var(--border-input-color);
}

#submit-registration {
    border-radius: none;
}

.registration-container span {
    font-size: 20px;
}

#container-registration-blocks {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#close-container-registration span {
    font-size: 30px;
    margin-right: 350px;
    margin-bottom: 30px;
}

#registration-submit-button {
    padding: 15px;
    border: none;
    border-radius: 27px;
    cursor: pointer;
    background-color: var(--registration-submit-background-color);
    color: var(--registration-submit-text-color);
    transition: all 0.2s ease-in-out;
}

#registration-submit-button:hover {
    background-color: var(--registration-submit-hover-background-color);
}

input[type='checkbox'] {
    width: 25px;
    cursor: pointer;
    height: 18px;
}

.checkbox-submit-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

#remember-me-checkbox-registration {
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: auto;
    margin-top: 40px;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

#modal-log-in {
    display: none;
}

#modal-log-in.active {
    background-color: var(--modal-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#close-container-log-in {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 20px 25px 0 0;
}

#close-container-log-in img {
    cursor: pointer;
}

#modal-log-in-content {
    background-color: var(--modal-content-background-color);
    width: 500px;
    height: 400px;
    border-radius: 50px;
}

#close-container-log-in span {
    font-size: 30px;
    margin-right: 155px;
    margin-bottom: 30px;
}

#container-log-in-blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#log-in-submit-button {
    padding: 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background-color: var(--registration-submit-background-color);
    color: var(--registration-submit-text-color);
    transition: all 0.2s ease-in-out;
    margin-left: 50px;
}

#log-in-submit-button:hover {
    background-color: var(--registration-submit-hover-background-color);
}