.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_window{
    position: relative;
    z-index: 5;
    width: 600px;
    height: 400px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 20px 10px 50px var(--shadow-modal-color);
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
}

.title{
    display: flex;
    justify-content: end;
    margin-top: 30px;
    font-size: 35px;
    font-weight: 700;
}

.img_cancel{
    margin-left: 170px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.img_cancel:hover{
    cursor: pointer;
}
.input_area{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 150px;
}

.button_box{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button_box button{
    width: 250px;
    height: 60px;
    font-size: 25px;
    border: none;
    box-shadow: 5px 5px 10px var(--shadow-color);
    border-radius: 20px;
    font-weight: 500;
    background-image: linear-gradient(120deg , #b0b334, #e6e872);
}

.not_find_user{
    color: red;
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    font-weight: 600;
    visibility: hidden;
}

.not_find_user_active{
    color: red;
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    font-weight: 600;
}