* {
    font-family: "Lexend", sans-serif;
    font-size: 20px;
}

body {
    margin: auto;
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#logo-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

#title {
    color: var(--header-big-text-color);
    font-size: 40px;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

#profile-log-out {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
}

#profile-background {
    background-image: url("../../images/airport1.jpg");
    background-position: center;
    background-size: cover;
    height: 800px;
    margin: 0;
}

#user-and-tickets-info {
    position: relative;
    top: 150px;
    margin: 0 100px;
    height: 700px;
    border-radius: 90px;
    background-color: var(--content-background-color);
}

#user-info {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 40px;
}

#profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    display: block;
    margin-bottom: 40px;
    margin-left: 80px;
    object-fit: cover;
}

#user-info input[type='file'] {
    display: none;
}

#user-info label {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}

#user-info label:hover {
    background-color: var(--submit-flight-background-color);
}

#user-data {
    display: flex;
    justify-content: space-between;
    width: 300px;
    padding: 20px;
    height: 200px;
    border: 2px solid black;
    border-radius: 30px;
}

#attribute-names {
    width: 140px;
}

.attribute-value,
.attribute-name {
    margin-bottom: 10px;
}

#profile-header {
    text-align: center;
    padding-top: 30px;
    font-size: 45px;
}

#tickets-line {
    margin: 80px 30px 20px;
    background-color: gray;
    height: 5px;
    border-radius: 3px;
}

#submit-photo-button {
    display: none;
}

#card {
    padding: 20px;
    border: 2px solid black;
    border-radius: 30px;
}

#card-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}

#attribute-names-card {
    width: 150px;
}
#attribute-values-card {
    width: 220px;
}

.attribute-name-card,
.attribute-value-card {
    margin: 30px auto;
}

#if-not-card span {
    display: block;
    color: red;
    margin-top: 30px;
    margin-bottom: 30px;
}

#if-not-card.active {
    display: block;
}

#if-not-card {
    display: none;
}

#if-not-card button {
    background-color: var(--registration-submit-background-color);
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 27px;
    border: 2px solid black;
    margin: 0 140px;
}

#if-not-card button:hover {
    background-color: var(--registration-submit-hover-background-color);
}

#edit-card {
    display: none;
}

#edit-card.active {
    display: block;
}

#edit-card span {
    display: block;
    margin-bottom: 20px;
    margin-top: 0;
}

#edit-card button {
    background-color: var(--registration-submit-background-color);
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 27px;
    border: 2px solid black;
    margin: 0 90px;
}

#edit-card button:hover {
    background-color: var(--registration-submit-hover-background-color);
}

#month-input {
    display: inline;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    font-size: 25px;
}

#year-input {
    display: inline;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    font-size: 25px;
}

#front-card span {
    font-size: 25px;
}